<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>노원진 통증의학과</title>
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <div class="header-title-border">
            <div class="header-title-bar">
                <a class="medical-position" href="#">
                    <div class="map-pin-box position-box-children">
                        <img src="~/assets/images/map-pin-icon.png" />
                    </div>
                    <div class="subway-station">
                        <div class="subway-exit-number">
                            <span class="white">6</span>
                        </div>
                        <span class="station-name">태릉입구역</span>
                    </div>
                    <div class="location position-box-children">
                        <p class="way">태릉입구역 4,5,6번 출구 도보 3분</p>
                        <p class="way">화랑대역 2번 출구 도보 8분</p>
                    </div>
                </a>
                <div class="medical-logo-box">
                    <img class="medical-logo" src="~/assets/images/logo-transparent.png" />
                </div>
                <div class="header-option-box">
                    <ul class="mini-navigator">
                        <li class="item">
                            <a href="/" class="header-nav-anchor">HOME</a>
                        </li>
                        <li class="item">
                            <a href="/site_map" class="header-nav-anchor">SITEMAP</a>
                        </li>
                        <li class="item">
                            <a href="/contact_us" class="header-nav-anchor">CONTACT US</a>
                        </li>
                    </ul>
                    <div class="medical-number-box">
                        <span class="number-label">문의 전화</span>
                        <span class="medical-number">02.979.7553</span>
                    </div>
                </div>
            </div>
        </div>
        <nav class="main-navigator">
            <div class="menu-border"></div>
            <ul class="top-menu">
                <li class="item">
                    <a href="/intro/cover" class="top-item-anchor">병원 소개</a>
                    <ul class="sub-menu">
                        <li class="sub-item">
                            <a href="/intro/cover" class="sub-item-anchor">병원 소개</a>
                        </li>
                        <li class="sub-item">
                            <a href="/intro/figure" class="sub-item-anchor">의료진 소개</a>
                        </li>
                        <li class="sub-item">
                            <a href="/intro/path" class="sub-item-anchor">오시는 길</a>
                        </li>
                        <li class="sub-item">
                            <a href="/intro/time" class="sub-item-anchor">진료시간표</a>
                        </li>
                    </ul>
                </li>
                <li class="item">
                    <a href="/clinic/spine" class="top-item-anchor">진료 안내</a>
                    <ul class="sub-menu">
                        <li class="sub-item">
                            <a href="/clinic/spine" class="sub-item-anchor">척추클리닉</a>
                        </li>
                        <li class="sub-item">
                            <a href="/clinic/joint" class="sub-item-anchor">관절클리닉</a>
                        </li>
                        <li class="sub-item">
                            <a href="/clinic/nerve" class="sub-item-anchor">신경통증클리닉</a>
                        </li>
                        <li class="sub-item">
                            <a href="/clinic/therapy" class="sub-item-anchor">도수치료</a>
                        </li>
                        <li class="sub-item">
                            <a href="/clinic/wave" class="sub-item-anchor">체외충격파</a>
                        </li>
                        <li class="sub-item">
                            <a href="/clinic/retain" class="sub-item-anchor">재활치료</a>
                        </li>
                    </ul>
                </li>
                <li class="item">
                    <a href="/community/notice" class="top-item-anchor">커뮤니티</a>
                    <ul class="sub-menu">
                        <li class="sub-item">
                            <a href="/community/notice" class="sub-item-anchor">공지사항</a>
                        </li>
                        <li class="sub-item">
                            <a href="/community/review" class="sub-item-anchor">진료후기</a>
                        </li>
                        <li class="sub-item">
                            <a href="/community/news" class="sub-item-anchor">보도자료</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <aside>
        <div class="aside-title">
            <span>빠른이동</span>
        </div>
        <a href="#" class="simple-anchor">
            <img src="~/assets/images/location_icon.png" />
            <span>오시는길</span>
        </a>
        <a href="#" class="simple-anchor">
            <img src="~/assets/images/alarm_icon.png" />
            <span>진료시간</span>
        </a>
        <a href="#" class="sns-anchor">
            <div id="naver-blog">
            </div>
            <span>블로그</span>
        </a>
        <a href="#" class="sns-anchor">
            <div id="naver-cafe">
            </div>
            <span>카페</span>
        </a>
        <a href="#" class="sns-anchor">
            <div id="youtube">
            </div>
            <span class="youtube">유튜브</span>
        </a>
        <div class="aside-footer">
            <span>TOP</span>
        </div>
    </aside>
    <main role="main">
        @RenderBody()
    </main>
    <footer>
        <div class="medical-map-time">
            <div class="medical-map">
                <div class="map-info">
                    <span class="extra-bold white box">LOCATION MAP</span>
                    <span class="white box">노원진 통증의학과 찾아오시는 길</span>
                    <span class="small light-font lightgray box">노원구 공릉로105(공릉동633-17) 장원빌딩 2층, 3층</span>
                    <a class="detail-button" href="#">자세히보기</a>
                </div>
            </div>
            <div class="open-time-box">
                <img src="~/assets/images/alarm-clock-icon.png" />
                <div class="medical-time">
                    <span class="extra-bold black">노원진 통증의학과 진료시간</span>
                    <div class="div-open-time">
                        <span class="time-am-pm">평&emsp;일</span><span class="time bold">AM 09:00 ~ PM 06:30</span>
                        <span class="time-am-pm">월/목요일</span><span class="time bold">AM 09:00 ~ PM 08:00</span>
                    </div>
                    <div class="div-open-time">
                        <span class="time-am-pm">토 요 일</span><span class="time bold">AM 09:00 ~ PM 01:00</span>
                        <span class="time-am-pm">점심시간</span><span class="time bold">PM 01:00 ~ PM 02:00</span>
                    </div>
                    <span class="light-font">※ 매주 월요일, 목요일은 야간진료입니다. (오후 8시까지)</span>
                </div>
            </div>
        </div>
        <div class="copyright-box">
            <img src="~/assets/images/black-white-logo.png" />
            <address>
                <span>대표 : 이인화 주소 :노원구 공릉로105(공릉동633-17) 장원빌딩 2,3층</span>
                <span>TEL : 010.9115.7553 TEL : 02.979.7533</span>
                <span>Copyright (C) 2022 NOWON JIN PAIN CLINIC. All rights reserved.</span>
            </address>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
