@model IList<CommunityBoard>
@{
}
<h1 class="community-title">@ViewBag.Title</h1>
<table class="table table-striped table-hover">
	<tbody>
		@foreach (var board in Model)
		{
			<tr>
				<td>@board.BoardId</td>
				<td>@board.Title</td>
				<td>@board.Created</td>
			</tr>
		}
	</tbody>
</table>