@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
    <head>
    
    </head>
    <body>
    <div class="text-center">
        <img src="~/assets/images/main_banner.png" />
        <div class="temp_box"></div>
    </div>
    <h5> NOWON JIN PAIN CLINIC</h5>
    <h1> 노원진통증 진료과목 안내</h1>

    <div class="menu_list">
        <!-- before: id: top_1 -->
        <a href="/clinic/spine" class="clinic-item">
            <img src="../assets/images/spine_2.png" />
            <div class="item-contents">
                <p>척추클리닉</p>
                <span>
                    자세히보기
                </span>
            </div>
        </a>

        <!-- before: id: top_2 -->
        <a href="/clinic/nerve" class="clinic-item">
            <img src="../assets/images/nerve_2.png" />
            <div class="item-contents">
                <p>신경통증클리닉</p>
                <span>
                    자세히보기
                </span>
            </div>
        </a>

        <!-- before: id: top_3 -->
        <a href="/clinic/retain" class="clinic-item">
            <img src="../assets/images/retain_2.png" />
            <div class="item-contents">
                <p>재활치료</p>
                <span>
                    자세히보기
                </span>
            </div>
        </a>

        <!-- before: id: bottom_1 -->
        <a href="/clinic/joint" class="clinic-item">
            <img src="../assets/images/joint_2.png" />
            <div class="item-contents">
                <p>관절클리닉</p>
                <span>
                    자세히보기
                </span>
            </div>
        </a>
        <!-- before: id: bottom_2 -->
        <a href="/clinic/wave" class="clinic-item">
            <img src="../assets/images/shock_2.png" />
            <div class="item-contents">
                <p>체외충격파</p>
                <span>
                    자세히보기
                </span>
            </div>
        </a>

        <!-- before: id: bottom_3 -->
        <a href="/clinic/therapy" class="clinic-item">
            <img src="../assets/images/dosu_2.png" />
            <div class="item-contents">
                <p>도수치료</p>
                <span>
                    자세히보기
                </span>
            </div>
        </a>
    </div>

    <div class="equip_intro">
        <div class="align">
           <p>노원진통증 <span>장비소개</span></p>
        </div>        
        <div class="equip_menu">
            <div class="menu-item open">EX-BODY</div>
            <div class="menu-item">C-ARM</div>
            <div class="menu-item">ZEUS WAVE</div>
        </div>
        <div class="equip_content">
            <div class="equip_picture" id="pic">
                <img id="equip_image" src="~/assets/images/Ex-Body.png" />
            </div>
            <div class="equip_explain">
                <p class="title show">EX-BODY</p>
                <p class="title">C-ARM</p>
                <p class="title">ZEUS WAVE</p>
                <hr />
                <p class="subtitle show">체형검사 분석 기기</p>
                <p class="subtitle">실시간 방사선 영상장치</p>
                <p class="subtitle">체외충격파치료기(ESWT)와 의료용레이저조사기(HILT)를 복합한 통증 치료기기</p>
                <pre class="equip-content show">
                    Ex-Body 체형 분석 시스템이란 개인별 체형 분석 및 신체
                    움직임 패턴을 다각적으로 분석하여 통증이 시작되는 원인
                    과 정도를 파악하는 근골격 종합 검진 시스템을 말합니다.

                    근골격계의 변형으로 인한 통증을 가진 환자를 대상으로
                    체형 분석을 통해 체형 불균형의 원인을 정밀하게 진단
                    하는 검사 장비입니다.

                    검사 결과를 바탕으로 환자의 체형, 근골격 통증을 효과적
                    으로 치료하기 위한 물리 치료, 도수 치료 프로그램을 
                    수립하게 됩니다.
                </pre>
                <pre class="equip-content">
                    '움직이는 X-RAY라고 할 수 있는 특수영상 장치입니다.
                    '알파벳 C형태의 팔'이라는 이름과 같이, C자 형태의
                    구조가 거의 모든 방향으로 움직일 수 있어, 확인해야
                    할 부위의 이미지를 대부분의 각도에서 촬영 할 수 있습니다.

                    뼈구조, 혈류 및 X-ray로 촬영된 기타 다양한 신체 내부의
                    이미지를 식별 할 수 있습니다.
                </pre>
                <pre class="equip-content">
                    집중형 충격파로 통증을 동반하는 근육의 경화 부위
                    (통증유발점)와 다른 층에 존재하는 힘줄의 염증들을
                    치료, 침투깊이도 5mm ~ 44mm의 8종류가 있어서 정확한
                    인체의 깊이에 따른 치료가 가능합니다.

                    방사형 충격파로 근육과 결합조직을 이완시킬 수 있습니다.
                    체형 불균형의 원인을정밀하게 진단하는 검사 장비입니다.

                    고강도레이저치료기로 생체자극 및 광기계적 자극을 사용
                    하여 내성이 생기지 않도록 연조직을 자극하여 
                    강력한 통증을 치료할 수 있습니다.
                </pre>
            </div>
        </div>
    </div>

    <div class="slogen">
        <img src="~/assets/images/new_main_contents_3.png" />
    </div>
    <script src="~/js/main.js"></script>
    </body>
</html>

