@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    <div class="text-center">
        <img src="~/assets/images/main_banner.png" />
        <div class="temp_box"></div>
    </div>    
    <h1> 노원진통증 진료과목 안내</h1>

    <table>
        <thead>
            <tr>
                <td>
                    <img src="~/assets/images/spain_picture.png" width="661" height="374"/> 
                </td>
                <td>
                    <img src="~/assets/images/nerve_picture2.png" width="490" height="374" />
                </td>
            </tr>
        </thead>       
    </table>
    <table>
        <tr>
            <td id="middle">
                <img src="~/assets/images/retain_picture.png" width="483" height="374" />
            </td>
            <td>
                <img src="~/assets/images/joint_picture.png" width="671" height="374" />
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <img src="~/assets/images/shock_picture.png" width="583" height="374" />
            </td>
            <td>
                <img src="~/assets/images/therapy_picture.png" width="573" height="374" />
            </td>
        </tr>
    </table>

    <div class="slogen"></div>
        

    </body>
</html>

