@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
    <head>
    
    </head>
    <body>
    <div class="text-center">
        <img src="~/assets/images/main_banner.png" />
        <div class="temp_box"></div>
    </div>    
    <h1> 노원진통증 진료과목 안내</h1>

<div class="menu_list">
    <div id="top_1" >
        <p>척추클리닉</p>
        <div class="sub">
            <div class="plus">
                +
            </div>
            <span id="detail">자세히보기</span>
        </div>
    </div>

    <div id="top_2">
        <p>신경통증클리닉</p>
        <div class="sub">
            <div class="plus">
                +
            </div>
            <span id="detail">자세히보기</span>
        </div>
    </div>


    <div id="middle_1">
        <p>재활치료</p>
        <div class="sub">
            <div class="plus">
                +
            </div>
            <span id="detail">자세히보기</span>
        </div>
    </div>
    <div id="middle_2">
        <p>관절클리닉</p>
        <div class="sub">
            <div class="plus">
                +
            </div>
            <span id="detail">자세히보기</span>
        </div>
    </div>


    <a>
        <div id="bottom_1">
            <p>체외충격파</p>
            <div class="sub">
                <div class="plus">
                    +
                </div>
                <span id="detail">자세히보기</span>
            </div>
        </div>
    </a>

    <a>
        <div id="bottom_2">
            <p>도수치료</p>
            <div class="sub">
                <div class="plus">
                    +
                </div>
                <span id="detail">자세히보기</span>
            </div>
        </div>
    </a>
</div>

                

    
    <div class="equip_intro">
        <div class="align">
           <p>노원진통증 <span>장비소개</span></p>
        </div>        
        <div class="equip_menu">
            <div id="ex-body" style="background-color :white">EX-BODY</div>
            <div id="c-arm">C-ARM</div>
            <div id="zeus">ZEUS WAVE</div>
        </div>
        <div class="equip_picture" id="pic">
            <img id="equip_image" src="~/assets/images/Ex-Body.png" />
        </div>
        <div class="equip_explain">
            <p id="title">EX-BODY</p>
            <hr />
            <div id="subtitle">체형검사 분석 기기</div>
            <p id="explain1">
                Ex-Body 체형 분석 시스템이란 개인별 체형 분석 및 신체 움직임 패턴을 <br />
                다각적으로 분석하여통증이 시작되는 원인과 정도를 파악하는 근골격 종<br />
                합 검진 시스템을 말합니다.<br /><br /><br />
                근골격계의 변형으로 인한 통증을 가진 환자를 대상으로 체형 분석을 통해<br />
                체형 불균형의 원인을정밀하게 진단하는 검사 장비입니다.<br /><br /><br />
                검사 결과를 바탕으로 환자의 체형, 근골격 통증을효과적으로 치료하기 위<br />
                한 물리 치료, 도수 치료 프로그램을 수립하게 됩니다. <br />
            </p>
            <p id="explain2">
                '움직이는 X-RAY라고 할 수 있는 특수영상 장치입니다. <br />
                '알파벳 C형태의 팔'이라는 이름과 같이, C자 형태의 구조가 거의 모든 방 <br />
                향으로 움직일 수 있어, 확인해야 할 부위의 이미지를 대부분의 각도에서 <br />
                촬영 할 수 있습니다.<br /><br /><br />
                뼈구조, 혈류 및 X-ray로 촬영된 기타 다양한 신체 내부의 이미지를 식별 할 <br />
                수 있습니다.<br />
            </p>
            <p id="explain3">
                집중형 충격파로 통증을 동반하는 근육의 경화 부위(통증유발점)와 다른  <br />
                층에 존재하는 힘줄의 염증들을 치료, 침투깊이도 5mm ~ 44mm의 8종류가  <br />
                있어서 정확한 인체의 깊이에 따른 치료가 가능합니다.<br /><br /><br />
                방사형 충격파로 근육과 결합조직을 이완시킬 수 있습니다.<br />
                체형 불균형의 원인을정밀하게 진단하는 검사 장비입니다.<br /><br /><br />
                고강도레이저치료기로 생체자극 및 광기계적 자극을 사용하여 내성이  <br />
                생기지 않도록 연조직을 자극하여 강력한 통증을 치료할 수 있습니다. <br />
            </p>
        </div>
    </div>

    <div class="slogen">
        <img src="~/assets/images/new_main_contents_3.png" />
    </div>
    <script src="~/js/main.js"></script>
    </body>
</html>

