@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/subpage.css" asp-append-version="true" />
    </head>
    <body>
        <div class="visual">
            
        </div> 
    </body>
</html>