<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="~/css/subpage.css" asp-append-version="true" />
    </head>
    <body>
        <div class="main_contents_1">
            <img src="~/assets/images/cover_contents_1.png"/>
            <img src="~/assets/images/cover_contents_2.png" />
        </div>
    </body>
</html>