<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/subpage.css" asp-append-version="true" />
</head>
<body>
    <div class="main_contents_1">
        <img src="~/assets/images/Figure_contents.jpg" />
    </div>
</body>
</html>