<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/subpage.css" asp-append-version="true" />
</head>
<body>
    <div class="main_contents">
        <img src="~/assets/images/path_contents.png" />
    </div>
</body>
</html>