<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/subpage.css" asp-append-version="true" />
</head>
<body>
    <div class="main_contents">
        진료 안내<br /><br />
        노원진통증의학과<br />
        진료시간을 안내해드립니다.
    </div>
</body>
</html>