body {
    padding: 0;
    margin: 0;
    font-family: NanumGothic;
    font-size: 14pt;
    overflow: auto;
    z-index: 9999;
}

@media only screen and (max-width: 1200px) {
    body {
        width: 1200px;
    }
}

@media only screen and (max-height: 980px) {
    body {
        height: 980px;
    }
}

.white {
    color: white;
}

.black {
    color: black;
}

.small {
    font-size: 12pt;
}

.box {
    display: box;
}

.lightgray {
    color: lightgray;
}

.light-font {
    font-family: NanumGothicLight;
}

.text-center {
    text-align: center;
}

.extra-bold {
    font-family: NanumGothicExtraBold;
}

.bold {
    font-family: NanumGothicBold;
}

a {
    text-decoration: none;
}

main {
    position: relative;
    top: 170px;
}

header {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    z-index: 9999;
}

header div.header-title-border {
    width: 100%;
    height: 140px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    overflow: hidden;
}

header div.header-title-border div.header-title-bar {
    width: 1300px;
    height: 100%;
    margin: 0px auto;
    display: flex;
}

header div.header-title-border div.header-title-bar > * {
    width: 100%;
}

header div.header-title-border div.header-title-bar a.medical-position {
    margin: auto 0;
    display: flex;
}

header div.header-title-border div.header-title-bar a.medical-position div.position-box-children {
    display: inline-block;
}

header div.header-title-border div.header-title-bar div.medical-logo-box {
    text-align: center;
}

header div.header-title-border div.header-title-bar div.medical-logo-box img.medical-logo {
    width: 260px;
    height: 120px;
    margin: auto 0;
}

header div.header-title-border div.header-title-bar a.medical-position div.map-pin-box {
    margin-right: 10px;
}

header div.header-title-border div.header-title-bar a.medical-position div.map-pin-box img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

header div.header-title-border div.header-title-bar div.subway-station {
    width: 105px;
    height: 30px;
    border-radius: 20px;
    border: 3px solid #CC7B2E;
    margin-bottom: 10px;
    margin: auto 0;
}

header div.header-title-border div.header-title-bar div.location {
    margin: auto 0;
    margin-left: 10px;
}

div.subway-exit-number {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: #CC7B2E;
    margin: 2px 3px;
}

div.subway-exit-number span {
    font-size: 11pt;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

a.medical-position span.station-name {
    font-size: 10pt;
    display: inline-block;
    text-align: center;
    color: black;
}

header div.header-title-border div.header-title-bar > * {
    display: inline-block;
}

div.visit-way-box {
    display: inline-block;
}

div.header-option-box {
    margin: auto 0;
    text-align: right;
}

ul.mini-navigator {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.mini-navigator li.item {
    display: inline-block;
}

ul.mini-navigator li.item a {
    color: gray;
    font-size: 9pt;
    padding: 0 10px;
    border-right: 1px solid black;
}

ul.mini-navigator li.item:first-child a {
    padding-left: 0px;
}

ul.mini-navigator li.item:last-child a {
    border: none;
}

div.medical-number-box {
    padding: 20px 0;
}

div.medical-number-box span.number-label {
    font-size: 10pt;
    color: gray;
    font-family: NanumGothicExtraBold;
}

div.medical-number-box span.medical-number {
    color: lightblue;
    font-family: NanumGothicExtraBold;
    font-size: 20pt;
}

p.way {
    color: gray;
    font-family: NanumGothic;
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

nav.main-navigator {
    width: 100%;
    background-color: white;
}

nav.main-navigator div.menu-border {
    position: relative;
    left: 0;
    right: 0;
    top: 52px;
    height: 0;
    border-bottom: 1px solid lightgray;
}

nav.main-navigator ul.top-menu {
    padding: 0;
    width: 1300px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

nav.main-navigator ul.top-menu li.item {
    list-style: none;
    width: 100%;
    padding: 15px 0px 0px 0px;
}

nav.main-navigator ul.top-menu li.item a {
    color: black;
    font-size: 15pt;
    font-family: NanumGothicLight;
}

nav.main-navigator ul.top-menu li.item ul.sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    height: 0px;
    overflow: hidden;
}

nav.main-navigator ul.top-menu li.item ul.sub-menu li.sub-item {
    padding: 10px 0px;
}

nav.main-navigator ul.top-menu li.item:hover > a {
    animation-name: selectTopMenu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

nav.main-navigator ul.top-menu li.item ul.sub-menu.open {
    animation-name: slideOnMenu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

aside {
    z-index: 9999;
    width: 100px;
    height: 570px;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    border: 1px solid black;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
}

aside > a {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}

aside > a:nth-of-type(1) {
    border-top: none;
}

aside > a:nth-of-type(5) {
    border-bottom: none;
}

aside > a:hover {
    z-index: 1;
    transform: scale(1.1, 1.1);
    transition: transform 1s;
}

aside > a.simple-anchor {
    background-color: white;
    text-align: center;
}

aside > a.simple-anchor img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 5px;
}

aside > a.simple-anchor span {
    display: block;
    color: black;
    font-family: NanumGothicLight;
}

aside > a.sns-anchor div {
    width: 100%;
    height: 100%;
    text-align: center;
}

aside div#naver-blog {
    background: url("../assets/images/naver-blog-logo.png");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position-x: center;
    background-color: #02C73C;
}

aside div#naver-cafe {
    background: url("../assets/images/naver-cafe-logo.png");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position-x: center;
    background-color: #02C73C;
}

aside div#youtube {
    background: url("../assets/images/youtube-logo.png");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position-x: center;
    background-color: white;
}

aside > a.sns-anchor span {
    color: white;
    display: block;
    text-align: center;
    position: relative;
    top: -20px;
}


aside > a.sns-anchor span.youtube {
    color: black;
}

aside div.aside-title, aside div.aside-footer {
    width: 100%;
    text-align: center;
    font-family: NanumGothicExtraBold;
    font-size: 14pt;
    background-color: black;
    color: white;
}

aside div.aside-title {
    align-items: flex-start;
    margin-bottom: 5px;
}

aside div.aside-title span, aside div.aside-footer span {
    display: block;
    padding: 5px 0px;
}

aside div.aside-footer {
    align-items: flex-end;
    margin-top: 5px;
}

footer {
    width: 100%;
    margin-top: 200px;
}

footer div.medical-map-time {
    height: 500px;
    width: 100%;
}

footer div.medical-map-time div.medical-map {
    height: 100%;
    width: 100%;
    background: url("../assets/images/footer_background.jpg");
    background-repeat: no-repeat;
    background-size: 1980px, 500px;
    text-align: center;
    overflow: hidden;
}

footer div.medical-map-time div.medical-map div.map-info {
    padding-top: 150px;
}

footer div.medical-map-time div.medical-map div.map-info > * {
    display: block;
    margin-bottom: 5px;
}

footer div.medical-map-time div.medical-map div.map-info span:nth-of-type(1) {
    font-family: NanumGothicExtraBold;
    font-size: 24pt;
    color: white;
    letter-spacing: -1px;
}

footer div.medical-map-time div.medical-map div.map-info span:nth-of-type(2) {
    letter-spacing: -0.2px;
    font-size: 16pt;
    margin-bottom: 12px;
}

footer div.medical-map-time div.medical-map div.map-info span:nth-of-type(3) {
    color: #E2E2E2;
    margin-bottom: 20px;
    font-size: 14pt;
    letter-spacing: -0.5px;
}

footer div.medical-map-time div.medical-map div.map-info a {
    color: black;
    border: 1px solid black;
    width: 140px;
    padding: 5px 0px;
    margin: 0 auto;
    background-color: transparent;
    letter-spacing: -1px;
}

footer div.medical-map-time div.open-time-box {
    position: relative;
    width: 1200px;
    height: 270px;
    background-color: #FAFAFA;
    box-shadow: 0px 6px 4px #616161;
    border: 1px solid black;
    margin: 0 auto;
    top: -150px;
    display: flex;
}

footer div.medical-map-time div.open-time-box > img {
    width: 125px;
    height: 125px;
    margin: 40px;
}

footer div.medical-map-time div.open-time-box div.medical-time {
    width: 100%;
    margin-top: 40px;
}

footer div.medical-map-time div.open-time-box div.medical-time > span:nth-of-type(1) {
    font-size: 20pt;
    display: block;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

footer div.medical-map-time div.open-time-box div.medical-time div.div-open-time {
    width: 100%;
    height: 30px;
    letter-spacing: -1px;
}

footer div.medical-map-time div.open-time-box div.medical-time div.div-open-time span.time-am-pm {
    font-size: 18pt;
    font-family: NanumGothicLight;
    display: inline-block;
    width: 110px;
}

footer div.medical-map-time div.open-time-box div.medical-time div.div-open-time span.time {
    font-size: 18pt;
    font-family: NanumGothicExtraBold;
    display: inline-block;
    margin-right: 100px;
}

footer div.medical-map-time div.open-time-box div.medical-time > span:nth-of-type(2) {
    font-size: 14pt;
    display: inline-block;
    margin-top: 20px;
    color: #616161;
    letter-spacing: -0.5px;
}

footer div.copyright-box {
    width: 100%;
    margin: 0 auto;
    margin-top: 130px;
    position: relative;
    text-align: center;
}

footer div.copyright-box img {
    width: 270px;
    height: 140px;
}

footer div.copyright-box address {
    font-family: NanumGothicLight;
    font-size: 14pt;
    color: gray;
    letter-spacing: -1px;
    font-style: normal;
}

footer div.copyright-box address span {
    display: block;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1, 1.1);
    }
}

@keyframes slideOnMenu {
    0% {
        height: 0;
    }

    100% {
        height: 260px;
    }
}

@keyframes selectTopMenu {
    0% {
        color: black;
    }

    100% {
        color: blue;
    }
}
@font-face {
    font-family: NanumGothic;
    src: url('../assets/fonts/NanumGothic.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NanumGothicBold;
    src: url('../assets/fonts/NanumGothicBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NanumGothicExtraBold;
    src: url('../assets/fonts/NanumGothicExtraBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NanumGothicLight;
    src: url('../assets/fonts/NanumGothicLight.otf');
    font-weight: normal;
    font-style: normal;
}