body {
    padding: 0;
    margin: 0;
    font-family: NanumGothic;
    font-size: 14pt;
    overflow: auto;
}

@media only screen and (max-width: 1200px) {
    body {
        width: 1200px;
    }
}

@media only screen and (max-height: 980px) {
    body {
        height: 980px;
    }
}

.white {
    color: white;
}

.black {
    color: black;
}

.small {
    font-size: 12pt;
}

.box {
    display: box;
}

.lightgray {
    color: lightgray;
}

.light-font {
    font-family: NanumGothicLight;
}

.text-center {
    text-align: center;
}

.extra-bold {
    font-family: NanumGothicExtraBold;
}

.bold {
    font-family: NanumGothicBold;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
}

header div.header-title-border {
    width: 100%;
    height: 140px;
    border-bottom: 1px solid lightgray;
    background-color: white;
}

header div.header-title-border div.header-title-bar {
    width: 1300px;
    height: 100%;
    margin: 0px auto;
    display: flex;
}

header div.header-title-border div.header-title-bar > * {
    width: 100%;
}

header div.header-title-border div.header-title-bar a.medical-position {
    margin: auto 0;
    display: flex;
}

header div.header-title-border div.header-title-bar a.medical-position div.position-box-children {
    display: inline-block;
}

header div.header-title-border div.header-title-bar div.medical-logo-box {
    text-align: center;
}

header div.header-title-border div.header-title-bar div.medical-logo-box img.medical-logo {
    width: 260px;
    height: 120px;
    margin: auto 0;
}

header div.header-title-border div.header-title-bar a.medical-position div.map-pin-box {
    margin-right: 10px;
}

header div.header-title-border div.header-title-bar a.medical-position div.map-pin-box img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

header div.header-title-border div.header-title-bar div.subway-station {
    width: 105px;
    height: 30px;
    border-radius: 20px;
    border: 3px solid #CC7B2E;
    margin-bottom: 10px;
    margin: auto 0;
}

header div.header-title-border div.header-title-bar div.location {
    margin: auto 0;
    margin-left: 10px;
}

div.subway-exit-number {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: #CC7B2E;
    margin: 2px 3px;
}

div.subway-exit-number span {
    font-size: 11pt;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

a.medical-position span.station-name {
    font-size: 10pt;
    display: inline-block;
    text-align: center;
    color: black;
}

header div.header-title-border div.header-title-bar > * {
    display: inline-block;
}

div.visit-way-box {
    display: inline-block;
}

div.header-option-box {
    margin: auto 0;
    text-align: right;
}

ul.mini-navigator {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.mini-navigator li.item {
    display: inline-block;
}

ul.mini-navigator li.item a {
    color: gray;
    font-size: 9pt;
    padding: 0 10px;
    border-right: 1px solid black;
}

ul.mini-navigator li.item:first-child a {
    padding-left: 0px;
}

ul.mini-navigator li.item:last-child a {
    border: none;
}

div.medical-number-box {
    padding: 20px 0;
}

div.medical-number-box span.number-label {
    font-size: 10pt;
    color: gray;
    font-family: NanumGothicExtraBold;
}

div.medical-number-box span.medical-number {
    color: lightblue;
    font-family: NanumGothicExtraBold;
    font-size: 20pt;
}

p.way {
    color: gray;
    font-family: NanumGothic;
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

nav.main-navigator {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

nav.main-navigator ul.top-menu {
    padding: 0;
    width: 1300px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

nav.main-navigator ul.top-menu li.item {
    list-style: none;
    width: 100%;
    padding: 20px 0px;
}

nav.main-navigator ul.top-menu li.item a {
    color: black;
    font-size: 15pt;
    font-family: NanumGothicLight;
}

nav.main-navigator ul.top-menu li.item ul.sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: none;
    height: 0px;
}

nav.main-navigator ul.top-menu li.item ul.sub-menu li.sub-item {
    margin: 10px 0px;
}

nav.main-navigator ul.top-menu li.item:hover > a {
    color: blue;
}

nav.main-navigator ul.top-menu li.item:hover ul.sub-menu {
    animation-name: fadeInMenu;
    animation-duration: 1s;
}

@keyframes fadeInMenu {
    from {
        height: 0px;
    }

    to {
        height: 120px;
        display: block;
    }
}

@font-face {
    font-family: NanumGothic;
    src: url('../assets/fonts/NanumGothic.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NanumGothicBold;
    src: url('../assets/fonts/NanumGothicBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NanumGothicExtraBold;
    src: url('../assets/fonts/NanumGothicExtraBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NanumGothicLight;
    src: url('../assets/fonts/NanumGothicLight.otf');
    font-weight: normal;
    font-style: normal;
}